<button [routerLink]="['/access_data']">Previous step</button>
<fieldset>
  <legend>Login</legend>
  <div class="control">
    <label>
      <span>Username:</span>
      <input type="text" name="username" ngModel required minlength="3" />
    </label>
    <br />
    <!-- @if ( ngForm.form.controls["username"].touched &&
    ngForm.form.controls["username"].invalid ) {
    <p>Username is required</p>
    } @if (ngForm.form.controls["username"].errors?.["required"]) {
    <p>Username is required</p>
    } @if (ngForm.form.controls["username"].errors?.["minlength"]) {
    <p>Username is too short</p>
    } -->
  </div>
  <div class="control">
    <label>
      <span>Password:</span>
      <input type="password" name="password" ngModel />
    </label>
  </div>
</fieldset>
